<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.nadel.alfred.nvfred</string>
	<key>connections</key>
	<dict>
		<key>D4FA6A33-6067-40FE-A25A-9ABE8E21D4AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27C4764D-1113-49E9-A577-0EF43FD43D32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>684E2425-602B-4C89-8513-E6965ED984BF</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>edit</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Nadel</string>
	<key>description</key>
	<string>Search Your Notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>nvALT</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>2</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>27C4764D-1113-49E9-A577-0EF43FD43D32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./search -d "${nv_root}" "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Your Notes</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4FA6A33-6067-40FE-A25A-9ABE8E21D4AD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>684E2425-602B-4C89-8513-E6965ED984BF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>27C4764D-1113-49E9-A577-0EF43FD43D32</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>684E2425-602B-4C89-8513-E6965ED984BF</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>D4FA6A33-6067-40FE-A25A-9ABE8E21D4AD</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Application Support/nvALT</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Storage Location</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>nv_root</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/mnadel/nvfred</string>
</dict>
</plist>
